body {
  position: relative;
  margin: 0;
  font-family: Arial, sans-serif;

  background-image: url("../img/login/VOLUNCHEER.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  overflow-y: auto;
  overflow-x: hidden;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;  
}

body::before {
  content: "";
  position: absolute;
  inset: 0;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  z-index: -1;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 14px;
  width: 100%;
  max-width: 420px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 30px 0;
}

.logo-container img {
  width: 100%;
  max-width: 350px;
  display: block;
  margin: 0 auto 20px auto;
}

input, select, textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background: #6AA8FB;
  border: none;
  padding: 10px 30px;
  color: white;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 10px;
  font-weight: bold;
}
button:hover { background: #5c92db; }

.logout {
  background: #3c7df5;
  margin-top: 20px;
}

.link {
  color: #555;
}
.link:hover {
  color: #3c7df5;
  text-decoration: underline;
}

label {
  display: block;
  text-align: left;
  width: 100%;
  margin: 5px 0 3px;
  font-size: 14px;
  font-weight: bold;
  color: #4A6EDB;
}

.container h2 {
  font-size: 26px;
  font-weight: 700;
  background: linear-gradient(90deg, #4A6EDB, #79A7FF);
  -webkit-background-clip: text;
  color: transparent;
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

@media (max-width: 480px) {

  .container {
    padding: 20px;
  }

  .logo-container img {
    max-width: 260px;
  }

  button {
    width: 100%;
  }

  textarea {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 90%;
  }
}